feedparser
pendulum
confluent-kafka
python-dotenv
mistralai==1.8.2
pyspark
pandas
numpy
seaborn
spacy
langchain==0.3.26
langchain_community==0.3.26
langdetect
nltk
networkx
tqdm
pendulum
scikit-learn
pyLDAvis
psycopg2-binary
