feedparser
pendulum
confluent-kafka
python-dotenv
mistralai
pyspark
pandas
numpy
seaborn
spacy
langchain
langchain_community
langdetect
nltk
networkx
tqdm
pendulum
scikit-learn
pyLDAvis
psycopg2-binary
